MainCode
{
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        80
      ],
      "id": "NODE_ID_RESPOND_WEBHOOK",
      "name": "Respond to Webhook",
      "executeOnce": true
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "YOUR_WEBHOOK_PATH",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        176
      ],
      "id": "NODE_ID_WEBHOOK_POST",
      "name": "Webhook POST",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the message: {{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "Enter Prompt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        96,
        272
      ],
      "id": "NODE_ID_AI_AGENT",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        128,
        496
      ],
      "id": "NODE_ID_DEEPSEEK",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "DEEPSEEK_CREDENTIAL_ID",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || \"\";\n\nconst cleaned = raw\n  .replace(/[\\n\\r]+/g, ' ')\n  .replace(/\\t+/g, ' ')\n  .replace(/\\s\\s+/g, ' ')\n\nreturn [\n  {\n    cleaned: cleaned.trim()\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        272
      ],
      "id": "NODE_ID_CODE",
      "name": "Code",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook POST').item.json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "YOUR_META_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook POST').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $json.cleaned }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        272
      ],
      "id": "NODE_ID_HTTP_REQUEST",
      "name": "HTTP Request",
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook POST').item.json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        416
      ],
      "id": "NODE_ID_MEMORY",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "NOTION_DATABASE_ID",
          "mode": "list",
          "cachedResultName": "Instagram Messages",
          "cachedResultUrl": "https://www.notion.so/YOUR_WORKSPACE/NOTION_DATABASE_ID"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Message Received|title",
              "title": "={{ $('Webhook POST').item.json.body.entry[0].messaging[0].message.text }}"
            },
            {
              "key": "Message Sent|rich_text",
              "textContent": "={{ $('Code').item.json.cleaned }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        944,
        272
      ],
      "id": "NODE_ID_NOTION",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "COND_ID_MESSAGE_EXISTS",
              "leftValue": "={{$json.body.entry[0].messaging[0].message.text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "COND_ID_SENDER_NOT_ME",
              "leftValue": "={{$json.body.entry[0].messaging[0].sender.id}}",
              "rightValue": "YOUR_OWN_IG_SENDER_ID",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        272
      ],
      "id": "NODE_ID_IF1",
      "name": "If1"
    }
  ],
  "connections": {
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "N8N_INSTANCE_ID"
  }
}

